<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <link href='app/styles/main.css'>
</head>
<body>
  
  <% include partials/page/header.ejs %>

  <h1><%= title %></h1>

  Fugiat incididunt ullamco pariatur consequat sint sit pariatur enim magna quis officia exercitation. Exercitation aute consequat esse laboris consectetur adipisicing eiusmod sint exercitation. Nostrud sit ea proident commodo officia. Reprehenderit non mollit dolore tempor ad minim mollit laborum veniam incididunt.

  Reprehenderit enim laboris enim fugiat proident sint occaecat veniam nulla laboris nisi pariatur cupidatat deserunt. Nostrud id nisi irure veniam culpa Lorem occaecat cillum dolor esse magna exercitation enim. Mollit anim do officia sit id elit officia. Qui cillum mollit et ullamco deserunt ipsum eu do ad aute nulla tempor ipsum non. Duis ipsum ullamco irure aliqua ex tempor enim nulla ullamco tempor.

  Amet non ipsum amet dolor dolor irure. Cillum reprehenderit aliquip laborum Lorem velit aute tempor adipisicing aute nulla duis commodo. Voluptate qui est velit amet nulla sunt tempor nostrud. Aliquip Lorem tempor tempor labore id excepteur reprehenderit. Ea exercitation enim occaecat labore esse proident irure nisi dolore ex amet culpa Lorem.

  Veniam laboris amet ad fugiat. Magna nostrud enim sunt ipsum officia et cillum nisi sit sint eu. Fugiat labore duis commodo eiusmod quis duis laboris. Consectetur ad est sunt laborum labore quis fugiat mollit officia. Culpa sit aute Lorem consectetur exercitation velit.
</body>
</html>
